<div class="main">
  <div class="login">
    <h2 class="text-white no-wrap-header text-center">パスワードを忘れましたか？</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", required: "required" %>
      </div>
      <div class="actions">
        <%= f.submit "パスワードをリセット", class: "btn btn-primary btn-block btn-large" %>
      </div>
    <% end %>
  </div>
</div>
