<div class="home">
  <div class="main">
    <div class="top-word">
      <h1>Livehub</h1>
    </div>
    <div class="links">
      <div class="links-top">
        <%= link_to "ライブ予定", live_schedules_path %>
        <a href="#" class="round-button">ライブ記録</a>
        <a href="#" class="round-button">グッズ記録</a>
      </div>
      <div class="links-bottom">
        <a href="#" class="square-button">統計</a>
      </div>
    </div>
  </div>
</div>
