// Place all the styles related to the Goods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.good-form {
  width: 60%;
  margin: auto;
  margin-top: 30px;
  background-color: white;
  padding: 50px;
  border-radius: 5%;
}

.goods {
  width: 85%;
  margin: auto;
}
