// Place all the styles related to the Goods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.good-form {
  width: 70%;
  margin: auto;
  background-color: white;
  padding: 30px 20px;
}

.goods {
  width: 85%;
  margin: auto;
}
